.navbar {
    position: absolute;
    width: 100%;
    top: 0px;
    padding: 20px 60px;
    background: rgba(0, 0, 0, .1) !important;
    z-index: 9;
    transition: background-color 0.3s ease; /* Tambahkan transisi untuk background-color */
}

.navbar.nav-sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background: #00235B !important;
    transition: background-color 0.3s ease; /* Tambahkan transisi untuk background-color */
}

.navbar .navbar-brand {
    margin: 0;
    color: #ffffff;
    font-size: 45px;
    line-height: 0px;
    font-weight: 600;
}

.navbar .navbar-brand span {
    font-weight: 800;
}

.navbar .navbar-brand img {
    max-width: 100%;
    max-height: 40px;
}

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    padding: 10px 10px 8px 10px;
    color: #ffffff;
    padding: 8px 15px;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: padding 0.3s ease, color 0.3s ease; /* Tambahkan transisi untuk padding dan color */
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    background: rgba(256, 256, 256, .1);
    transition: background-color 0.3s ease; /* Tambahkan transisi untuk background-color */
}

.navbar .dropdown-menu {
    margin-top: 0;
    border: 0;
    border-radius: 0;
    background: #f8f9fa;
}

@media (max-width: 768px) {   
    .navbar {
        padding: 15px;
    }
    
    .navbar a.nav-link {
        padding: 5px;
    }
    
    .navbar .dropdown-menu {
        box-shadow: none;
    }

    #navbarCollapse {
        padding-top: 20px;
    }

}

/*******************************/
/********* Footer CSS **********/
/*******************************/
.footer {
    margin-top: 45px;
    padding: 150px 0 100px 0;
    background-color: #00235B;
    padding: 20px 0;
}

.footer .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: left; /* Make text left-aligned */
}

.footer h2 {
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: left; /* Left align the heading */
}

.footer p {
    margin: 10px 0;
    font-size: 16px;
    color: white;
    /* text-align: left; */
}

.footer a {
    color: #ffffff;
    text-decoration: none;
}

.footer a:hover {
    color: #f84200;
    text-decoration: underline;
}

.footer .fa {
    margin-right: 10px;
}

.footer .copyright {
    background-color: #00235B;
    margin-top: 20px;
    border-top: 1px solid #555;
    padding-top: 10px;
    font-size: 14px;
    text-align: center; /* Center align the copyright text */
}

.footer .copyright a {
    color: #ffffff;
    font-weight: 700;
}

.footer .copyright a:hover {
    color: #f84200;
}

/* Animasi untuk konten utama */
#contentFromIndexHTML {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

#contentFromIndexHTML.loaded {
    opacity: 1;
}

@media (max-width: 768px) {
    .footer .container {
        text-align: center; /* Center align text for mobile */
    }

    .footer h2 {
        text-align: center; /* Center align heading for mobile */
    }

    .footer p {
        text-align: center; /* Center align paragraphs for mobile */
    }
}