/* login.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background: #00235B !important; /* Mengubah warna latar belakang menjadi biru */
}

h1 {
    color: #00235B;
    margin: 20px 0; /* Mengurangi margin atas dan bawah */
    text-align: center;
    font-weight: bolder;
    text-transform: uppercase;
}

p {
    font-style: italic;
    font-weight: bold;
    text-align: center;
    margin: 10px 0; /* Mengurangi margin atas dan bawah */
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; /* Tengahkan vertikal */
    height: 100vh; /* Agar konten berada di tengah */
}

.login-frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px; /* Diganti menjadi 400px agar tampilan lebih besar */
    width: 80%; /* Menambahkan lebar agar sesuai dengan persentase container */
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    padding: 40px 20px; /* Menambah padding agar lebih besar */
}

.logo {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    margin: 0px 0; /* Mengatur jarak atas dan bawah */
}

.logo img {
    width: 80%; /* Diganti menjadi 50% agar sesuai dengan lebar div .logo */
    border-radius: 15px; /* Menambah border-radius agar sesuai dengan frame */
    margin: 0px 0; /* Mengatur jarak atas dan bawah */
}

.form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    margin-bottom: 15px; /* Menambah jarak antar form group */
}

form {
    width: 100%; /* Mengisi seluruh lebar container */
    max-width: 300px; /* Maksimum lebar form */
}

hr {
    border-top: 2px solid #00235B;
}

form label {
    display: block;
    font-size: 16px;
    font-weight: 600;
    padding: 5px;
}

input {
    width: 100%;
    margin: 2px 0; /* Mengurangi margin atas dan bawah */
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 5px;
    border: 2px solid #00235B;
}

input[type="submit"] {
    cursor: pointer; /* Menambahkan cursor pointer ketika diarahkan ke tombol submit */
}

@media (max-width: 350px) {
    .login-frame {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: none;
    }

    .form-container {
        width: 90%; /* Mengisi seluruh lebar container */
    }

    input[type="submit"] {
        width: 100%;
    }

    .logo img {
        width: 40%; /* Diganti menjadi 40% agar sesuai dengan lebar div .logo */
        border-radius: 15px; /* Menambah border-radius agar sesuai dengan frame */
    }
}
