/**************************************/
/*** CSS untuk pesan alert dan Body ***/
/**************************************/
.alert {
    position: relative;
    padding: 1rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.alert-dismissible .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.75rem 1.25rem;
    color: inherit;
}

.container-fluid .row {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 80px;
    padding-right: 80px;
}

.container-fluid .row .col-md-12{
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
    background-color: #00235B;
}

.container-fluid .row .col-md-12 .wrapColoumn{
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    margin: 20px;
}

.container-fluid .row .col-md-12 .wrapColoumn h2 {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 32px;
    margin-top: 10px;
    margin-bottom: 25px;
    text-align: center;
}

.container-fluid .row .col-md-12 .wrapColoumn .table-responsive {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

/* Aturan CSS untuk mode ponsel */
@media (max-width: 768px) {
    .container-fluid .row {
        padding: 10px;
    }

    .container-fluid .row .col-md-12 {
        padding: 0px;
    }

    .container-fluid .row .col-md-12 .wrapColoumn {
        margin: 10px;
    }

    .container-fluid .row .col-md-12 .wrapColoumn h2 {
        margin-top: 5px;
        margin-bottom: 15px;
        text-align: center;
    }
}

/**************************************/
/********** CSS untuk tombol **********/
/**************************************/
.btn {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
}

.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-secondary:hover {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
}

.btn-warning, .btn-danger {
    display: inline-block;
    width: 100%;
    margin-bottom: 4px;
}

.btn-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
}


/*****************************/
/********** Booking **********/
/*****************************/
/* Style untuk Form Label */
.booking-form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 10px;
    grid-template-areas:
        "section1 section2 section3"
        "section4 section4 section3" /* Section 5 dan 6 berada di bawah Section 4 */
        "section5 section6 section3" /* Section 5 dan 6 berada di bawah Section 4 */
}

.booking-form .section-1 {
    grid-area: section1;
}

.booking-form .section-2 {
    grid-area: section2;
}

.booking-form .section-3 {
    grid-area: section3;
}

.booking-form .section-4 {
    grid-area: section4;
}

.booking-form .section-5 {
    grid-area: section5;
}

.section-6 {
    grid-area: section6;
}

.ignore-css {
    all: initial;
}

@media (max-width: 768px) {
    .booking-form {
        display: block;
    }

    .section-1, .section-2, .section-3, .section-4, .section-6, .section-5 {
        width: 100%;
    }
}