#filterSectionContainer {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
}

#filterSectionContainer h3 {
    text-align: center;
}

#filterSectionContainer .btn-group-center {
    margin: 0 auto; /* Tengah secara horizontal */
    display: flex;
    justify-content: space-between; /* Memberikan ruang di antara tombol */
    width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
}

#filterSectionContainer .btn-group-center .btn {
    border-radius: 0; /* Menghilangkan lengkungan pada tombol */
    flex-grow: 1; /* Tombol akan mengisi ruang yang tersedia secara proporsional */
    text-align: center;
}

#filterSectionContainer #manualFilterSection {
    border-radius: 10px;
    margin: 0 auto; /* Tengah secara horizontal */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    background-color: #fff;
}

#filterSectionContainer #manualFilterSection .form-row {
    display: flex;
    justify-content: center;
    width: auto;
    gap: 10px;
    padding-top: 20px;
}

#filterSectionContainer #manualFilterSection .form-group {
    flex: none; /* Menghilangkan flex-grow agar elemen tidak mengisi ruang yang tersedia */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0; /* Hapus margin */
}

#filterSectionContainer #manualFilterSection .form-group input {
    text-align: center;
    width: 100%; /* Atur lebar input agar sesuai dengan kontainer .form-group */
    max-width: 200px; /* Atur lebar maksimum */
    height: 40px; /* Atur tinggi input */
    padding: 10px; /* Tambahkan padding untuk input */
    box-sizing: border-box; /* Pastikan padding dimasukkan dalam total lebar dan tinggi */
}

#filterSectionContainer #manualFilterSection .filter-button-container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 20px;
}

#filterSectionContainer .Download-button-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
}
