/**************************************/
/*********** CSS untuk tabel **********/
/**************************************/
#ServiceTable{
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    table-layout: fixed; /* Menetapkan layout tabel ke fixed */
}

#ServiceTable th, #ServiceTable td {
    padding: 0.75rem;
    vertical-align: middle; /* Perbaikan untuk vertikal tengah */
    border-top: 1px solid #dee2e6;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    background-color: #00235B;
    color: #fff;
}

.table-hover tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.075);
}

/* Aturan CSS untuk mode ponsel */
@media (max-width: 768px) {
    /* Menetapkan lebar tabel menjadi 100% */
    #ServiceTable {
        width: 100%;
        table-layout: auto; /* Menetapkan layout tabel ke fixed */
    }

    /* Mengurangi padding pada sel-sel tabel */
    #ServiceTable th, #ServiceTable td {
        padding: 0.5rem;
        border-top: none;
    }

    /* Mengatur warna latar belakang untuk baris ganjil pada tabel */
    .table-striped tbody tr:nth-of-type(odd) {
        background-color: transparent; /* Menghapus warna latar belakang pada baris ganjil */
    }

    /* Mengatur warna latar belakang saat hover pada baris tabel */
    .table-hover tbody tr:hover {
        background-color: transparent; /* Menghapus warna latar belakang saat hover */
    }

    /* Mengatur warna latar belakang dan teks pada header tabel */
    .table thead th {
        background-color: transparent; /* Menghapus warna latar belakang */
        color: #000; /* Warna teks hitam */
    }
}


/**************************************/
/********** CSS untuk tombol **********/
/**************************************/
.btn {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
}

.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-secondary:hover {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
}

.btn-warning, .btn-danger {
    display: inline-block;
    width: 100%; /* Atur lebar menjadi 100% untuk ukuran tombol yang sama */
    margin-bottom: 4px; /* Ruang antara tombol */
}

.btn-container {
    display: flex;
    flex-direction: column; /* Atur arah flex ke kolom untuk menampilkan tombol secara vertikal */
    gap: 4px; /* Ruang antara tombol */
}

/**************************************/
/*** CSS untuk pesan alert dan Body ***/
/**************************************/
.alert {
    position: relative;
    padding: 1rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.alert-dismissible .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.75rem 1.25rem;
    color: inherit;
}

.container-fluid .row {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 80px;
    padding-right: 80px;
}

.container-fluid .row .col-md-12{
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 60px;
    padding-right: 60px;
    border-radius: 5px;
    background-color: #00235B; 
}

.container-fluid .row .col-md-12 .mb-5{
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 5px;
    background-color: white; 
}

.container-fluid .row .col-md-12 .mb-5 h2 {
    margin-top: 10px;
    margin-bottom: 25px;
    text-align: center;
}

@media (max-width: 768px) {
    .container-fluid .row {
        padding: 20px;
    }

    .container-fluid .row .col-md-12 {
        padding: 10px;
        border-radius: 5px;
        background-color: #00235B;
    }

    .container-fluid .row .col-md-12 .mb-5 {
        margin-bottom: 10px;
        padding: 20px; 
        border-radius: 5px;
        background-color: white;
    }

    .container-fluid .row .col-md-12 .mb-5 h2 {
        margin-top: 5px;
        margin-bottom: 15px;
        text-align: center; 
    }
}