/*******************************/
/********* Contact CSS *********/
/*******************************/

.container-fluid .row {
    background: #00235B;
    max-width: 35%; /* Penyesuaian ukuran */
    margin: 0 auto; /* Pusatkan konten */
    border-radius: 15px;
    box-shadow: 5px 5px 5px #aaaaaa;;
}

.contact-form {
    padding: 15px 15px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column; /* Menjadikan susunan vertikal */
}

#alertContainer, #successAlertContainer {
    margin-bottom: 15px; /* Atur jarak sesuai kebutuhan Anda */
}

.contact-form input,
.contact-form textarea,
.contact-form .btn,
.contact-form select.form-control,
.contact-form .alert {
    margin: 0 auto; /* Menengahkan elemen */
    width: 100%; /* Membuat elemen mengambil lebar penuh */
    max-width: 500px; /* Membatasi lebar maksimum */
}

.contact-form .btn {
    width: auto; /* Mengembalikan lebar ke ukuran default */
    margin-top: 10px; /* Jarak antara tombol dan input fields */
    padding: 15px 30px; /* Mengembalikan padding */
    font-size: 16px; /* Mengembalikan font size */
    font-weight: 600;
    letter-spacing: 1px;
    color: #f84200;
    background: none;
    border: 2px solid #f84200;
    border-radius: 0;
    transition: .3s;
}

.contact-form .btn:hover {
    color: #00235B;
    background: #f84200;
}

.help-block ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* Class Balutan untuk Gambar */
.image-wrapper {
    padding: 15px 15px;
    text-align: center; /* Menengahkan gambar */
}

.image-wrapper img {
    display: inline-block; /* Memastikan gambar dapat ditengahkan */
}

/* Custom Classes */
.col-md-6-custom {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column; /* Menjadikan susunan vertikal */
    padding-left: 15px; 
    padding-right: 15px;
}

.text-center-custom {
    text-align: center;
}

@media (max-width: 768px) {
    .container-fluid .row {
        max-width: 100%; /* Penyesuaian ukuran */
    }
    .contact-form {
        padding: 15px 15px; /* Menyesuaikan padding */
    }
    .image-wrapper {
        padding: 15px 15px; /* Menyesuaikan padding */
    }
    .col-md-6-custom {
        padding-left: 15px; 
        padding-right: 15px;
    }
}