/*******************************/
/******* Page Header CSS *******/
/*******************************/
.page-header {
    position: relative;
    margin-bottom: 45px;
    padding: 150px 0 90px 0;
    text-align: center;
    background: #00235B;
}

.page-header h2 {
    color: #ffffff;
    font-size: 60px;
    font-weight: 700;
}

.page-header a {
    padding: 0 12px;
    font-size: 22px;
    color: #00235B;
    text-decoration: none; /* Menambahkan dekorasi ke link */
}

.page-header a:hover {
    color: #ffffff;
}

.page-header a::after {
    content: "/";
    width: 8px;
    height: 8px;
    top: -2px;
    right: -7px;
    text-align: center;
    color: #00235B;
}

.page-header a:last-child::after {
    display: none;
}

@media (max-width: 767.98px) {
    .page-header h2 {
        font-size: 35px;
    }
    
    .page-header a {
        font-size: 18px;
    }
}

/*******************************/
/******* Section Header ********/
/*******************************/
.section-header {
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 45px;
    text-align: center; /* Menambahkan align center */
}

.section-header p {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 600;
}

.section-header h2 {
    margin: 0;
    font-size: 50px;
    font-weight: 700;
}

@media (max-width: 767.98px) {
    .section-header h2 {
        font-size: 30px;
    }
}

/*******************************/
/******** Portfolio CSS ********/
/*******************************/
.container-fluid .row {
    width: 100%;
    background: white;
    border-radius: 16px; /* Menambahkan border-radius */
    margin: 0 auto; /* Pusatkan konten */
}

.container-fluid #portfolio-flters {
    padding: 0;
    font-size: 0;
    list-style: none;
    text-align: center;
}

.container-fluid #portfolio-flters li {
    cursor: pointer;
    display: inline-block;
    margin: 5px;
    padding: 8px 15px;
    color: #00235B;
    font-size: 14px;
    font-weight: 600;
    border-radius: 0;
    background: none;
    border: 2px solid #00235B;
    transition: .3s;
}

.container-fluid #portfolio-flters li:hover,
.container-fluid #portfolio-flters li.filter-active {
    background: #00235B;
    color: #f84200;
}

.container-fluid .portfolio-item {
    margin-bottom: 30px;
    overflow: hidden;
    transition: .3s;
    border-radius: 16px; /* Menambahkan border-radius */
}

.container-fluid .portfolio-item:hover {
    transform: translateY(-10px); /* Mengubah margin-top ke transform */
}

.container-fluid .portfolio-wrap {
    position: relative;
    width: 100%;
}

.container-fluid img {
    width: 100%; 
    height: 100%; 
    object-fit: cover;
    border-radius: 16px;
}
