/*******************************/
/******* History Section *******/
/*******************************/

.section-header {
    margin-bottom: 50px;
}

.section-header h3 {
    font-size: 2rem;
    font-weight: 700;
    color: #333;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.container-fluid .row {
    border-radius: 0.25rem;
    display: flex; /* Menambahkan Flexbox */
    flex-wrap: wrap; /* Mengizinkan konten untuk membungkus jika diperlukan */
    justify-content: center; /* Menengahkan konten secara horizontal */
    margin: 40px;
    background: #00235B;
    color: #fff;
}

#HeadPending, #HeadSuccess {
    border-radius: 0.25rem;
    display: flex; /* Menambahkan Flexbox */
    flex-wrap: wrap; /* Mengizinkan konten untuk membungkus jika diperlukan */
    justify-content: center; /* Menengahkan konten secara horizontal */
    box-sizing: border-box; /* Pastikan padding dan border termasuk dalam perhitungan lebar total */
    margin: 40px; /* Opsional: Menambahkan margin antar elemen */
    background-color: #fff;
    overflow: hidden;
    width: 100%; /* Set both elements to have the same width */
    max-width: 100%;
}

#HeadPending h4, #HeadSuccess h4 {
    margin-top: 20px; /* Menghapus margin atas pada judul */
    margin-bottom: 20px; /* Sesuaikan margin bawah judul */
    color: #333;
    text-align: center;
}

#HistoryPending, #HistorySuccess {
    margin-left: 20px;
    margin-right: 20px;
    width: 100%; /* Atur lebar tabel agar konsisten */
    max-width: 100%;
    background-color: #fff;
    border-collapse: collapse;
}

#pendingPagination, #successPagination {
    margin-top: 10px; /* Sesuaikan margin bawah judul */
    margin-bottom: 20px; /* Sesuaikan margin bawah judul */
    margin-left: 20px;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .container-fluid .row {
        margin: 10px; /* Opsional: Menambahkan margin antar elemen */
    }

    #HeadPending, #HeadSuccess {
        margin: 10px; /* Opsional: Menambahkan margin antar elemen */
    }
}
