/*******************************/
/********* Pricing CSS *********/
/*******************************/

.container-fluid .row {
    margin: 0 auto;
    max-width: 1200px;
}

.container-fluid .price-item {
    background: white;
    border-radius: 16px;
    overflow: hidden;
    transition: .3s;
    border: 2px solid rgba(0, 35, 91, 0.3); /* Bingkai pudar sejak awal */
    margin-bottom: 10px; /* Menambahkan margin bawah */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Menambahkan bayangan */
}

.container-fluid .price-item:hover {
    border-color: #00235B; /* Mengubah warna bingkai saat hover */
}

.container-fluid .price-img {
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid rgba(0, 35, 91, 0.3); /* Bingkai bawah gambar pudar */
    border-top-left-radius: 12px; /* Melengkungkan bagian atas kiri */
    border-top-right-radius: 12px; /* Melengkungkan bagian atas kanan */
    transition: transform .3s ease; /* Menambahkan transition untuk efek zoom */
    padding: 10px; /* Menambahkan padding di sekitar gambar */
}

.container-fluid .price-img img {
    padding: 0;
    width: 100%;
    height: auto; /* Mengatur tinggi gambar agar proporsional */
    object-fit: cover; /* Menyesuaikan gambar agar pas */
    border-top-left-radius: 12px; /* Melengkungkan bagian atas kiri gambar */
    border-top-right-radius: 12px; /* Melengkungkan bagian atas kanan gambar */
}

.container-fluid .price-item:hover .price-img img {
    transform: scale(1.1); /* Menambahkan efek zoom pada gambar saat hover */
}

.container-fluid .price-text {
    padding: 15px;
}

.container-fluid .price-text h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}

.container-fluid .price-text h3 {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #333333;
    margin-bottom: 5px;
}

.container-fluid .price-text p {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: #666666;
    margin-bottom: 2px;
}
