/*******************************/
/******* Page Header CSS *******/
/*******************************/
.page-header {
    position: relative;
    margin-bottom: 45px;
    padding: 150px 0 90px 0;
    text-align: center;
    background: #00235B;
}

.page-header h2 {
    color: #ffffff;
    font-size: 60px;
    font-weight: 700;
}

.page-header a {
    padding: 0 12px;
    font-size: 22px;
    color: #00235B;
    text-decoration: none; /* Menghapus garis bawah default */
}

.page-header a:hover {
    color: #ffffff;
}

.page-header a::after {
    content: "/";
    width: 8px;
    height: 8px;
    top: -2px;
    right: -7px;
    text-align: center;
    color: #00235B;
    position: absolute;
}

.page-header a:last-child::after {
    display: none;
}

@media (max-width: 767.98px) {
    .page-header h2 {
        font-size: 35px;
    }
    
    .page-header a {
        font-size: 18px;
    }
}

/*******************************/
/******* Section Header ********/
/*******************************/
.section-header {
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 45px;
    text-align: center; /* Mengatur teks ke tengah */
}

.section-header p {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 600;
}

.section-header h2 {
    margin: 0;
    font-size: 50px;
    font-weight: 700;
}

@media (max-width: 767.98px) {
    .section-header h2 {
        font-size: 30px;
    }
}

/*******************************/
/********* Pricing CSS *********/
/*******************************/
.price {
    width: 100%;
    margin: 45px 0;
    background: white;
    border-radius: 16px; /* Menambahkan border-radius */
    padding: 20px; /* Menambahkan padding */
}

.price .price-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    margin-bottom: 30px;
    border-radius: 16px;
    background: rgba(29, 36, 52, .04);
    transition: .3s;
}

.price .price-item:hover {
    background: #f84200;
}

.price .price-img {
    width: 100px;
}

.price .price-img img {
    width: 100%;
    border-radius: 16px;
}

.price .price-text {
    padding: 0 15px;
    width: calc(100% - 100px);
    overflow: hidden;
}

.price .price-text h2 {
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 600;
    white-space: nowrap;
}

.price .price-text h3 {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    color: #333333;
}
